header {
    text-align: center;
    background-color: #3232bd;
    color: white;
}
p {
    width: 150px;
}

h3 {
    text-align: center;
    justify-content: center;
    align-items: flex-start;
}

.lowUV {
    background-color: green;
}

.mediumUV {
    background-color: yellow;
}

.highUV {
    background-color: red;
}

.card {
    background-color: darkblue;
    color: white;
}

#container {
    display: inline-flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
}

#cityPanel {
    justify-content: flex-start;
    padding: 10px;
    align-items: flex-start;
    width: 25vw;
    flex-direction: column;
}

#mainWeatherWindow {
    justify-content: flex-end;
    width: 70vw;
}

#fiveDayForcast {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

#searchBtn {
    background-color: #3232bd;
    color: white;
}